<figure class="highlight">
  <h3> <%= @question.question %></h3>
</figure>
<%= form_with @question %>
<figure class="highlight">
  <h5> <%= @question.opt1 %></h5>
</figure>

<figure class="highlight">
  <h5> <%= @question.opt2 %></h5>
</figure>

<figure class="highlight">
  <h5> <%= @question.opt3 %></h5>
</figure>

<figure class="highlight">
  <h5> <%= @question.opt4 %></h5>
</figure>

<% end %>
